@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
/* 
    font-family: "Ubuntu Condensed", sans-serif;
*/
:root {
    --black:#000000;
    --white: #FFFFFF;
    --violet: #7C76BB;
    --pink:#FF87B0;
    --gray: #848482;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: "Ubuntu Condensed", sans-serif;
    overflow-y: hidden; 
    overflow-x: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vh 3vh 0vh 3vh;
    -webkit-animation: slide-in-blurred-top 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
nav div ion-icon {
    font-size: 30px;
    color: var(--pink);
}
nav div h1 {
    font-size: 30px;
    color: var(--violet);
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color: var(--violet);
    cursor: pointer;
}
nav ul li:last-child a{
    border: none;
    outline: none;
    background-color: var(--violet);
    color: var(--white);
    padding: 1vh 4vh;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
}
nav ul li:last-child a:hover {
    box-shadow: 0px 9px 30px 0px rgba(74,74,74,0.3);
}
#pink {
    color: var(--pink);
}
section img {
    width: 570px;
}
section {
    display: grid;
    grid-template: 2fr;
    margin-top: 10vh;
}
.content {
    margin-left: 5vh;
    margin-right: 5vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content div h1 {
    font-size: 50px;
    color: var(--violet);
    margin-bottom: 2vh;
}
.content div p {
    font-size: 18px;
    color: var(--dark-gray);
    line-height: 1.3;
}
.content:nth-child(1) {
    -webkit-animation: slide-in-blurred-left 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.content:nth-child(2) {
	-webkit-animation: slide-in-blurred-right 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}