@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
/* 
    font-family: "Ubuntu Condensed", sans-serif;
*/
:root {
    --black:#000000;
    --white: #FFFFFF;
    --violet: #7C76BB;
    --pink:#FF87B0;
    --gray: #848482;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: "Ubuntu Condensed", sans-serif;
    overflow-y: hidden; 
    overflow-x: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vh 3vh 0vh 3vh;
    -webkit-animation: slide-in-blurred-top 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
nav div ion-icon {
    font-size: 30px;
    color: var(--pink);
}
nav div h1 {
    font-size: 30px;
    color: var(--violet);
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color: var(--violet);
    cursor: pointer;
}
nav ul li:last-child a{
    border: none;
    outline: none;
    background-color: var(--violet);
    color: var(--white);
    padding: 1vh 4vh;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
}
nav ul li:last-child a:hover {
    box-shadow: 0px 9px 30px 0px rgba(74,74,74,0.3);
}
#pink {
    color: var(--pink);
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 4vh 0vh 4vh;
}
.left{
    -webkit-animation: slide-in-blurred-left 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.left h1  {
    font-size: 90px;
    color: var(--black);
    -webkit-animation: text-pop-up-top 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.left h1 span {
    color: var(--pink);
}
.left p {
    margin-top: 3vh;
    font-size: 18px;
    color: var(--black);
}
.left div {
    margin-top: 3vh;
    display: flex;
    gap: 30px;
}
.left div button {
    width: 45%;
    padding: 1.5vh;
    border-radius: 0.5rem;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}
.left div button:hover {
    box-shadow: 0px 9px 30px 0px rgba(74,74,74,0.3);
}
.left div button:nth-child(1) {
    background-color: var(--violet);
    border: none;
    outline: none;
    color: var(--white);
}
.left div button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid var(--violet);
    background-color: var(--white);
    color: var(--violet);
}
.left div button:nth-child(2) ion-icon {
    font-size: 28px;
}
section img {
    width: 1024px;
    -webkit-animation: flicker-in-1 3s linear both;
    animation: flicker-in-1 3s linear both;
}
footer {
    text-align: center;
    -webkit-animation: slide-in-blurred-bottom 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
footer p {
    font-size: 26px;
    color: var(--violet);
}
footer div {
    margin-top: 4vh;
    display: flex;
    gap: 100px;
    justify-content: center;
}
footer div ion-icon {
    font-size: 50px;
    color: var(--gray);
}
@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes flicker-in-1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1;
    }
    30.5% {
        opacity: 1;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}